<app-nav-bar (Searching)="filterData($event)"></app-nav-bar>
<div class="container">
  <div class="comparing-card">
    <mat-card class="comparing-card-item" [class.visible]="isComparing == true">
      <span class="comparing-card-header">Comparing pokemon</span>
      <hr class="comparing-card-separation" />
      <span class="comparing-card-body">Charizard</span>
    </mat-card>
  </div>
  <div class="card-container">
    <mat-card *ngFor="let pokemon of pokemonsName$ | async">
      <mat-card-actions>
        <button mat-icon-button color="warn" (click)="addToFavorites(pokemon)">
          <mat-icon *ngIf="!pokemon.isFavorite">favorite_border</mat-icon>
          <mat-icon *ngIf="pokemon.isFavorite">favorite</mat-icon>
        </button>
      </mat-card-actions>
      <div (click)="openPokemonModal(pokemon)">
        <img mat-card-image src="{{ pokemon.photo }}" />
        <mat-card-footer>{{ pokemon.name }}</mat-card-footer>
      </div>
    </mat-card>
  </div>
</div>
<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  [fromRoot]="true"
  (scrolled)="loadMorePokemons()"
></div>
