<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="card-container">
    <mat-card
      *ngFor="let pokemon of pokemonsName$ | async"
      (click)="openPokemonModal(pokemon)"
    >
      <mat-card-actions>
        <button mat-icon-button color="warn">
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-actions>
      <img mat-card-image src="{{ pokemon.photo }}" />
      <mat-card-footer>{{ pokemon.name }}</mat-card-footer>
    </mat-card>
  </div>
</div>
<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  [fromRoot]="true"
  (scrolled)="loadMorePokemons()"
></div>
