.container {
  padding: 5rem 0;
}

.card-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.mat-card {
  width: 150px;
  border: 2px solid #dedddd;
  box-shadow: none;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.mat-card-actions {
  position: absolute;
  right: 10%;
  top: 0%;
}

.mat-card-footer {
  display: block;
  margin: 0 -16px -16px -16px;
  background-color: whitesmoke;
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.1rem;
  border-top: 2px solid #dedddd;
}
