.container {
  padding: 5rem 0;
}

.card-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 0 5rem;
}

.mat-card {
  width: 150px;
  border: 2px solid #dedddd;
  box-shadow: none;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.mat-card-actions {
  position: absolute;
  right: 10%;
  top: 0%;
}

.mat-card-footer {
  display: block;
  margin: 0 -16px -16px -16px;
  background-color: whitesmoke;
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.1rem;
  border-top: 2px solid #dedddd;
}

.comparing-card {
  position: fixed;
  right: 0;
  z-index: 1;
  visibility: hidden;
  transition: display 3s linear;

  .comparing-card-item {
    margin-right: 5px;
    padding: 0;
    width: fit-content;
  }
}

.visible {
  visibility: visible;
}

.comparing-card-header {
  display: block;
  padding: 0.5rem 0.8rem;
  padding-bottom: 0.3rem;
  color: gray;
  font-weight: 900;
}

.comparing-card-separation {
  width: 100%;
  margin: 0;
}

.comparing-card-body {
  display: block;
  text-align: start;
  padding: 0.5rem 0.8rem;
  font-weight: 900;
}
