.nav-bar {
  padding: 0 10px;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.nav-bar .nav-bar-list {
  list-style: none;
  display: flex;
  padding-left: 1rem;
}

.nav-bar-list-item {
  margin-right: 1rem;
  font-weight: 400;
}

.active {
  font-weight: 900;
}

.search-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #cecece;
  border-radius: 4px;
  background: white;
  height: 1.5rem;
  padding: 1px;
}

.nav-bar-input {
  border: none;
  width: 100%;
}

.search-container:focus {
  outline: 2px solid #7fd5ff6b;
}

.nav-bar-input:focus {
  outline: none;
}

.search-btn {
  align-self: center;
  visibility: hidden;
}

.display {
  visibility: visible;
}
