<mat-toolbar class="nav-bar">
  <ul class="nav-bar-list">
    <li [routerLink]="['/banner']" class="nav-bar-list-item">PokeApp</li>
    <li class="nav-bar-list-item active">Pokemons</li>
  </ul>
  <div class="search-container">
    <input
      type="text"
      class="nav-bar-input"
      [(ngModel)]="queryInput"
      (ngModelChange)="search($event)"
    />
    <button
      mat-icon-button
      color="warn"
      class="search-btn"
      [ngClass]="{ display: queryInput !== undefined }"
      (click)="clearQuery()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</mat-toolbar>
