$black: #000000;
$white: #ffffff;
$dark-green: #0b2a349e;
$dark-grey: #b7b6b64d;
$light-grey: #ffffff73;
$dark-blue: #013452;
$grey: #808080;
$card-border: #dedddd;
$card-footer: #f5f5f5;
$search-box: #cecece;
$search-box-focus: #7fd5ff6b;
